body {
    margin: 0;
    padding: 0;

}

.main {
    display: block;
}


.page__container {
    margin: 0 auto;
}



/* HEADER */



.header {
    min-height: 88px;
    max-width: 940px;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding-top: 33px;
}

.header__menu-item {
    text-decoration: none;
    color: black;
}



/* LEAD */



.lead {
    min-height: 680px;
    border: 1px solid black;
    margin-top: 40px;
}

.lead__info {
    max-width: 800px;
    min-height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;

    margin: 0 auto;
    border: 1px solid red;
}

.lead__name {
    padding: 0;
    margin: 0;

    font-family: Gilroy;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.lead__profession {
    padding: 0;

    font-family: Gilroy;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    margin: auto 0;
}

.lead__language {
    transform: rotate(-90deg);
    max-width: 68px;
    height: 18px;
    margin: auto 0;
    padding: 50px 0 0 0;
}

.lead__photo {
    display: block;
    margin: 50px auto 0;
    max-width: 945px;
    height: auto;
}



/* ABOUT */



.about {
    min-height: 506px;
    background-color: #F6F6F6;
}

.about__text {
    outline: 1px solid red;
    min-width: 425px;
    max-width: 940px;
    margin: 0 auto;
    padding: 120px 0 107px;
    text-align: center;
}

.about__title {
    color: black;
    margin: 0 auto 18px;
    font-family: Gilroy;
    font-weight: 400;
    font-size: 34px;
    line-height: 34px;
}

.about__description {
    margin: 0;
    max-width: 480px;
    margin: 0 auto;
    font-family: Gilroy;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.about__description:not(:first-child) {
    margin-top: 25px;
}



/* SKILLS */

.skills {
    min-height: 506px;
    outline: 1px solid green;
    padding-bottom: 110px;
}

.skills__text {
    text-align: center;
    margin: 0 auto;
}

.skills__title {
    margin: 0 auto;
    padding-top: 90px;
    font-family: Gilroy;
    font-weight: 400;
    font-size: 34px;
    line-height: 34px;
    width: fit-content;
}

.skills__description {
    margin: 0;
    max-width: 480px;
    margin: 70px auto 0;
    font-family: Gilroy;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    width: fit-content;
}

.skills__program {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills__soft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 940px;
    margin: 82px auto 0;
    outline: 1px solid black;
}

.skills__program-name {
    font-family: Gilroy;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px; 
    color: #828282;
    text-align: center;
    margin: 23px 0 0;
}

.skills__rating {
    margin-top: 40px;
}