.lead__photo {
    display: block;
    margin: 50px auto 0;
    max-width: 945px;
    background-image: url('../../../images/leadphoto.png');    
    width: 100%;
    min-height: 200px;
    height: 387px;
}