.footer__button {
    margin: 60px auto 0;
    background-color: black;
    color: white;
    border: none;
    display: block;
    min-width: 180px;
    min-height: 42px;
    border-radius: 25px;
    transition: opacity 0.2s ease-in;
}

.footer__button:hover {
    opacity: .7;
    cursor: pointer ;
}
